/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
[class*="col-"] {
    text-align: center;
    line-height: 20px;
    color: white;
}

.container{
    margin-bottom: 20px;
}
