/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.debug [class*="col-"] {
    min-height: 40px;
    padding: 10px;  
}

.debug .row > [class*="col-"] {
    border: 1px solid white;
    background-color: green; 
}

.debug .row .nested {
    background-color: darkorchid;
    border: 1px solid green;
}

/* framework */
.container-fluid{
    width: 100%;
    margin: 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

/* columns */
.col-lg{
    flex-grow: 1;
    flex-basis: 0;
}

.col-lg-1 {
    flex-basis: calc((100% / 12) * 1);
}
.col-lg-2 {
    flex-basis: calc((100% / 12) * 2);
}
.col-lg-3 {
    flex-basis: calc((100% / 12) * 3);
}
.col-lg-4 {
    flex-basis: calc((100% / 12) * 4);
}
.col-lg-5 {
    flex-basis: calc((100% / 12) * 5);
}
.col-lg-6 {
    flex-basis: calc((100% / 12) * 6);
}
.col-lg-7 {
    flex-basis: calc((100% / 12) * 7);
}
.col-lg-8 {
    flex-basis: calc((100% / 12) * 8);
}
.col-lg-9 {
    flex-basis: calc((100% / 12) * 9);
}
.col-lg-10 {
    flex-basis: calc((100% / 12) * 10);
}
.col-lg-11 {
    flex-basis: calc((100% / 12) * 11);
}
.col-lg-12 {
    flex-basis: calc((100% / 12) * 12);
}

.col-lg-offset-1 {
    margin-left: calc((100% / 12) * 1);
}
.col-lg-offset-2 {
    margin-left: calc((100% / 12) * 2);
}
.col-lg-offset-3 {
    margin-left: calc((100% / 12) * 3);
}
.col-lg-offset-4 {
    margin-left: calc((100% / 12) * 4);
}
.col-lg-offset-5 {
    margin-left: calc((100% / 12) * 5);
}
.col-lg-offset-6 {
    margin-left: calc((100% / 12) * 6);
}
.col-lg-offset-7 {
    margin-left: calc((100% / 12) * 7);
}
.col-lg-offset-8 {
    margin-left: calc((100% / 12) * 8);
}
.col-lg-offset-9 {
    margin-left: calc((100% / 12) * 9);
}
.col-lg-offset-10 {
    margin-left: calc((100% / 12) * 10);
}
.col-lg-offset-11 {
    margin-left: calc((100% / 12) * 11);
}